{% extends "files/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
    <form method="POST" enctype="multipart/form-data" action="dynamoDB">
        {% csrf_token %}
        <fieldset class="form-group">
            {{ form|crispy }}
            <div>
        </div>
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit" action="file-upload">Post</button>
        </div>
    </form>
</div>
{% endblock content %}
